/* General */
.text-color-custom-1 {
    color: #000000 !important; 
}
/* General END */

/* Header */
.navbar-admin-custom {
    background: #ffffff;
}

.sidebar-icon-custom {
    margin-right: 3px;
    border: 2px;
}
/* Header END */

/* Customized from main style */
body {
    font-family: "Open Sans", sans-serif;
    background: #EAEAEA;
    color: #5d69a0;
  }

.logo img {
    max-height: 40px;
    margin-left: 6px;
    margin-right: 6px;
  }
/* _Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #CC5500;
  font-weight: 600;
}

.breadcrumb a {
  color: #CC5500;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: black;
}

.breadcrumb .breadcrumb-item::before {
  color: black;
}

.breadcrumb .active {
  color: black;
  font-weight: 600;
}
/* Customized from main style END*/

/* Customized admin registration pages */
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    background-color: whitesmoke;
    color: #020202;
  }
  
  .card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    font-family: 'Catamaran', sans-serif;
  }
  
  .btn {
    background: var(--white);
    color: var(--green);
    border-color: var(--green);
    padding: 8px 30px;
  }
  
  .btn:hover {
    background: var(--green);
  }
  /* Customized admin registration pages END */